
.box {
    margin-left: 40%;
}

.outer {
    width: 450px;
    height: 18px;
    border: none;
    background-color: rgb(198, 194, 190);
    overflow: hidden;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.inner {
    width: 0;
    transition: width 0.5s, background-color 1s;
    height: 100%;
   position: relative;

}
#display{
text-align: center;
margin-left: 15%;
position: fixed;
text-align: center;
margin-top: -4px;
}

button {
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
}
.btns {
    margin-left: 22%;
    }